h2 {
    letter-spacing: 0.25em;
    text-transform: uppercase;
    font-weight: 600;
}

p {
    line-height: 1.6em;
}

.content {
  max-width: 1000px;
  text-align: center;
  margin: auto;
}

.block.true {
    background: #418241;
    color: #fff;
}

.block.false {
    background: #9a2218;
    color: #fff;
}

.block.predictive {
    background: #777777;
    color: #fff;
}

.block {
    border: 1px solid #ddd;
    margin: 1em;
    padding-bottom: 1em;
    background: #fff;
    color: #000;
}

    .block h2 {
        margin: 0;
        padding-top: 2em;
        font-size: 1em;
        font-weight: normal;
    }

.block-value {
    font-size: 6em;
    margin: 0.2em 0 0;
    font-weight: 100;
}